/cdi/nbproject/
/cdi/target/
nb-configuration.xml
/ejb/nbproject/
/ejb/target/
/jpa/nbproject/
/jpa/target/
/target/
/jpa/derby.log
/jpa-ext/target/
/servlet/nbproject/
/servlet/target/
*.log
/jsf/nbproject/
/jaxws/nbproject/
/jaxws/target/